﻿
@Scripts.Render("~/bundles/fancybox")
<script type="text/javascript">
    var playedBefore = false;
    //var voted = false;

    $(document).ready(function () {
        $(".fancybox").fancybox({
            openEffect: 'elastic',
            closeEffect: 'fade',
            afterLoad: function () { playedBefore = false; voted = false; disableVoting(); resetVoteButtons(); $("#voteType").val("lol"); },
            afterClose: function () { vote();  }
        });
    });
</script>

<style type="text/css">
    #jquery_jplayer_N {
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        /*background-size: cover;*/
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        width: 320px;
        height: 200px;
    }

    #jplayer_container_N {
        width: 320px;
        height: 320px;
    }

</style>

@Scripts.Render("~/bundles/jplayer")
<script type="text/javascript">
    var myPlaylist;

    $(document).ready(function () {
        myPlaylist = new jPlayerPlaylist({
            jPlayer: "#jquery_jplayer_N",
            cssSelectorAncestor: "#jplayer_container_N"
        }, [
        ], {
            playlistOptions: {
                enableRemoveControls: false
            },
            swfPath: "jplayer/",
            supplied: "mp3",
            smoothPlayBar: false,
            keyEnabled: false,
            audioFullScreen: false
        });
        $("#jquery_jplayer_N").bind($.jPlayer.event.play, function (e) {
            if (!playedBefore) {
                _gaq.push(['_trackEvent', 'Videos', 'Played', 'TEST']);
                playedBefore = true;
            }
        });
        $("#jquery_jplayer_N").bind($.jPlayer.event.ended, function (e) {
            _gaq.push(['_trackEvent', 'Videos', 'PlayedFull', 'TEST'])
            if (!voted) {
                enableVoting();
            }
        });
    });
</script>

<!-- NARRATIVE VOTING -->
<script>
    function vote() {
        var form = $("#voteForm").serialize();
        $.ajax({
            url: "/Narrative/Vote",
            type: "post",
            data: form
        })
        voted = true;
        disableVoting();
    }

    function disableVoting() {
        $("#agreeButton").unbind("click");
        $("#ambivalentButton").unbind("click");
        $("#disagreeButton").unbind("click");
    }

    function enableVoting() {
        $("#fancybox-closebtn").click(function () {
            //vote();
        });

        var button = $("#agreeButton");
        button.css("cursor", "pointer");
        button.css("opacity", "1");
        button.click(function () {
            $("#voteType").val("Agree");
            //vote();
            $(this).css("background", "#96ff96");
            $('#disagreeButton').css("background", "#fff");
            $('#ambivalentButton').css("background", "#fff");
        });

        button = $("#disagreeButton");
        button.css("cursor", "pointer");
        button.css("opacity", "1");
        button.click(function () {
            $("#voteType").val("Disagree");
            //vote();
            $(this).css("background", "#ff9696");
            $('#agreeButton').css("background", "#fff");
            $('#ambivalentButton').css("background", "#fff");
        });

        button = $("#ambivalentButton");
        button.css("cursor", "pointer");
        button.css("opacity", "1");
        button.click(function () {
            $("#voteType").val("Ambivalent");
            //vote();
            $(this).css("background", "#ffff96");
            $('#agreeButton').css("background", "#fff");
            $('#disagreeButton').css("background", "#fff");
        });
    }

    function resetVoteButtons() {
        $("#agreeButton").css("cursor", "");
        $("#agreeButton").css("background", "#fff");
        $("#agreeButton").css("opacity", "0.3");
        $("#ambivalentButton").css("cursor", "");
        $("#ambivalentButton").css("background", "#fff");
        $("#ambivalentButton").css("opacity", "0.3");
        $("#disagreeButton").css("cursor", "");
        $("#disagreeButton").css("background", "#fff");
        $("#disagreeButton").css("opacity", "0.3");
    }

</script>
<!-- END NARRATIVE VOTING -->

<div id="jplayer-narrative-id"></div>
<div id="jplayer_container_N" style="background: #bcbcbc; z-index: 9999; width: 320px; height: 320px;">
    <div class="jp-type-playlist">
        <div id="jquery_jplayer_N" class="jp-jplayer" style="width: 320px; height: 200px;"></div>
        <div class="jp-playlist">
            <ul>
                <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                <li></li>
            </ul>
        </div>
        <div style="clear: both;"></div>
        <div class="jp-gui">
            <div class="jp-interface">
                <div class="jp-progress">
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"></div>
                    </div>
                </div>
                <div class="jp-current-time"></div>
                <div class="jp-separator">/</div>
                <div class="jp-duration"></div>
 
                    <!--<div style="float:right;margin-right:5px;"><i class="fa fa-volume-down fa"></i></div>-->
                    <div class="jp-volume-bar">
                        <div class="jp-volume-bar-value"></div>
                    </div>
                    <div style="float:right;"><i class="fa fa-volume-up fa"></i></div>

                <div class="jp-title">
                    <ul>
                        <li></li>
                    </ul>
                </div>
                <div class="jp-controls-holder">
                    <ul class="jp-controls" style="padding-left: 105px;">
                        <li style="padding-top:6px"><a class="btn jp-previous" style="" href="javascript:;"><i class="fa fa-backward"></i></a></li>
                        <li><a class="btn jp-play" style="" href="javascript:;"><i class="fa fa-play fa-2x"></i></a></li>
                        <li><a class="btn jp-pause" style="" href="javascript:;"><i class="fa fa-pause fa-2x"></i></a></li>
                        <li style ="padding-top:6px"><a class=" btn jp-next" style="" href="javascript:;"><i class="fa fa-forward"></i></a></li>
                        <li style="padding-top:6px; display: none;"><a class="btn jp-stop" style="" href="javascript:;"><i class="fa fa-stop"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="jp-no-solution">
            <span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
    </div>
</div>
<div id="tabs" style="text-align: center; background: #fff; width: 320px; height: 20px;">
    <a onclick="metricsClicked()" title="Narrative/narration" id="tab-metrics" href="#"><i class="fa fa-home fa-lg"></i></a> | 
    <a onclick="commentsClicked()" title="Comment/parler" id="tab-comments" href="#"><i class="fa fa-comments fa-lg"></i></a> |
    <a onclick="shareClicked()" title="Share/partager" id="tab-share" href="#"><i class="fa fa-share fa-lg"></i></a> | 
    <a onclick="flagClicked()" title="Flag/signaler" id="tab-flag" href="#"><i class="fa fa-flag fa-lg"></i></a>
</div>
<div style="border-top: 2px solid #000; margin-top:2px;"></div>
<div class="popup-lower" style="overflow-x: hidden; height: 250px; max-height: 250px; background: #fff;">

    <div id="metrics-wrap" style="width: 320px; display: none;">
        What is your opinion on this narrative?<br />
        <span style="font-size: 0.9em">(Listen to entire audio before voting)</span><br />
        Quelle est votre opinion sur cette narration? <br />
        <span style="font-size: 0.9em">(Ecoutez la narration en entier avant de voter)</span>
        <div id="votebar" style="text-align: center; margin-bottom: 5px;">
            <span title="Agree" id="agreeButton" class="btn"><i class="fa fa-smile-o fa-lg"></i></span>
            <span title="Ambivalent" id="ambivalentButton" class="btn"><i class="fa fa-meh-o fa-lg"></i></span>
            <span title="Disagree" id="disagreeButton" class="btn"><i class="fa fa-frown-o fa-lg"></i></span>
        </div>
        What others think / ce que les autres pensent:
        <div class="likesbar" style="width: 320px; padding: 0px;">
            <div id="green-bar" style="border: 1px solid #333; background: #96ff96; float: left; height: 10px;">&nbsp;</div>
            <div id="yellow-bar" style="border: 1px solid #333; background: #ffff96; float: left; height: 10px; ">&nbsp;</div>
            <div id="red-bar" style="border: 1px solid #333; background: #ff9696; float: left; height: 10px;">&nbsp;</div>
        </div>
        <div class="" style="width: 320px; height: 30px; position:relative; margin-top: 15px;">
            <i id="disagreeMetrics" style="position: absolute; right: 0; margin: 3px;" class="fa fa-frown-o fa-lg"></i>
            <i id="ambivalentMetrics" style="position: absolute; left: 46%; margin: 3px;" class="fa fa-meh-o fa-lg"></i>
            <i id="agreeMetrics" style="position: absolute; left: 0; margin: 3px;" class="fa fa-smile-o fa-lg"></i>
        </div>
        <div id="metrics-bar">
            <div>
                <i class="fa fa-eye fa-lg"></i>&nbsp;<span id="views"></span> views / visionnements <br />
                <i class="fa fa-comments fa-lg"></i>&nbsp;<span id="comments"></span> comments / commentaires
            </div>
        </div>
    </div>
    <div id="comments-wrap" style="width: 305px; display: none;">
        <div class='com-error' style='display: none;color: red; font-size: 0.8em;'>Please no empty comment. Pas de commentaire vide.</div>
        Join the discussion / joignez la discussion!
        <div id="comments-add" style="height: 95px; margin-bottom: 5px;"></div>
        Comments / commentaires:
        <div id="comments-list"></div>
    </div>
    <div id="share-wrap" style="width: 320px; height: 15px; display: none;">
        <span style="font-size: 0.95em">Share this with your friends / partagez avec vos amis!</span>
        <div id="share-box"></div>
    </div>
    <div id="flag-wrap" style="width: 320px; display: none;">
        Please leave a comment explaining why you believe this narrative is offensive. <br />
        Laissez une raison pourquoi ce narratif est offensif.
        <div id="flag-add" style="height: 75px;"></div>
        <div id="flag-success" style="color: #248000; display:none;">
            Thank you!<br />Merci!</div>
        <div id="flag-not-success" style="color: #802400; display: none;">There was an error submitting your report. <br />Il y avait une erreur avec votre soumission.</div>
    </div>
</div>

<form id="voteForm">
    <input type="hidden" id="nid" name="nid" value="-1" />
    <input type="hidden" id="voteType" name="type" value="NONE" />
</form>

<script>

    function search(id)
    {
        $.ajax({
            url: "/Browse/SearchList",
            type: "get",
            data: { id: id },
            error: function (x, e) {
                if (x.status == 550) {
                    displayError("Narrative ID has not been found!");
                }
            },
            success: function (response, textStatus, jqXHR) {
                $('#aSearch').click();
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function changePlaylist(id) {
        $.ajax({
            url: "/Browse/GetPlaylist",
            type: "get",
            data: { id: id },
            error: function (x, e) {
                if (x.status == 550)
                {
                        displayError("Error Invalid Playlist !");
                }
            },
            success: function (response, textStatus, jqXHR)
            {
                //$("#aSearch").removeClass();
                createPlaylist(response, id);
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function createPlaylist(r, id) {
        var n = [], x = 1;
        var p = "/Images/player_fallback.png";
        for (var i = 0; i < r.length; i += 2) {
            if (r[i+1].indexOf(".jpg") > -1 || r[i+1].indexOf(".jpeg")) {
                p = "/Uploads/Narratives/" + id + "/" + r[i+1];
            }
            if (r[i + 1].indexOf(".png") > -1) {
                p = "/Uploads/Narratives/" + id + "/" + r[i+1];
            }
            var e = {
                title: "" + x,
                artist: "" + x,
                mp3: "/Uploads/Narratives/" + id + "/" + r[i],
                poster: p
            };
            n[x-1] = e;
            x++;
            //console.log(n[i]);
        }
        //console.log(n);

        myPlaylist.setPlaylist(n);
    }
</script>

<script>
    function metricsClicked() {
        $("#comments-wrap").css({"display":"none"});
        $("#flag-wrap").css({ "display": "none" });
        $("#share-wrap").css({ "display": "none" });

        removeUnderlines();
        $("#tab-metrics").css({ "text-decoration": "underline" });
        $("#metrics-wrap").css({ "display": "block" });
    }

    function commentsClicked() {
        $("#flag-wrap").css({ "display": "none" });
        $("#metrics-wrap").css({ "display": "none" });
        $("#share-wrap").css({ "display": "none" });

        removeUnderlines();
        $("#tab-comments").css({ "text-decoration": "underline" });
        $("#comments-wrap").css({ "display": "block" });
    }

    function flagClicked() {
        $("#comments-wrap").css({ "display": "none" });
        $("#metrics-wrap").css({ "display": "none" });
        $("#share-wrap").css({ "display": "none" });

        removeUnderlines();
        $("#tab-flag").css({ "text-decoration": "underline" });
        $("#flag-wrap").css({ "display": "block" });
    }

    function shareClicked() {
        $("#comments-wrap").css({ "display": "none" });
        $("#metrics-wrap").css({ "display": "none" });
        $("#flag-wrap").css({ "display": "none" });

        removeUnderlines();
        $("#tab-share").css({ "text-decoration": "underline" });
        $("#share-wrap").css({ "display": "block" });
    }

    function removeUnderlines() {
        $("#tab-metrics").css({ "text-decoration": "none" });
        $("#tab-comments").css({ "text-decoration": "none" });
        $("#tab-flag").css({ "text-decoration": "none" });
        $("#tab-share").css({ "text-decoration": "none" });
    }
</script>

<script>
    function populatePopup(id) {
        refreshNarrativeID(id);
        loadMetrics(id);
        metricsClicked();
        getComments(id);
        refreshCommentID(id);
        refreshFlagID(id);
        refreshShareID(id);
        changePlaylist(id);
    }

    function refreshNarrativeID(id) {
        $("#jplayer-narrative-id").html("ID #" + id);
    }

    function refreshShareID(id) {
        $("#share-box").html("<textarea onclick='this.select()' id='share-text' type='text' style='resize: none; width: 295px; margin: 0;'>" + "http://localhost:7092/Share?id=" + id + "</textarea>");
    }

    function loadMetrics(id) {
        $.ajax({
            url: "/Narrative/LoadPlayer",
            type: "get",
            data: { id: id },
            error: function (x, e) {
                if (x.status == 550) {
                    alert("Narrative has not been found !");
                    parent.$.fancybox.close();
                }
                else {
                    alert('Unknown error: ' + x.responseText);
                }
            },
            success: function (response, textStatus, jqXHR) {
                $("#agreeMetrics").text(" " + response.agrees);
                $("#ambivalentMetrics").text(" " + response.ambivalent);
                $("#disagreeMetrics").text(" " + response.disagrees);
                $("#views").text(response.views);
                $("#comments").text(response.comments);

                var totalVotes = response.ambivalent + response.agrees + response.disagrees;
                var greenPercent = parseInt((response.agrees / totalVotes) * 100) - 1;
                var yellowPercent = parseInt((response.ambivalent / totalVotes) * 100) - 1;
                var redPercent = parseInt((response.disagrees / totalVotes) * 100) - 1;

                // If there are no votes, they should all be equal
                if (totalVotes == 0) {
                    greenPercent = 32;
                    yellowPercent = 32;
                    redPercent = 32;
                }

                $("#green-bar").css("display", "block");
                $("#yellow-bar").css("display", "block");
                $("#red-bar").css("display", "block");
                if (greenPercent == -1)
                    $("#green-bar").css("display", "none");
                if (yellowPercent == -1)
                    $("#yellow-bar").css("display", "none");
                if (redPercent == -1)
                    $("#red-bar").css("display", "none");

                $("#green-bar").css("width", greenPercent + "%");
                $("#yellow-bar").css("width", yellowPercent + "%");
                $("#red-bar").css("width", redPercent + "%");
            }
        })
        $.ajax({
            url: "/Narrative/View",
            type: "post",
            data: { id: id }
        });
        $("#nid").val(id);
    }

    function getComments(id) {
        $.ajax({
            url: "/Narrative/GetComments",
            type: "get",
            data: { id: id },
            success: function (response, textStatus, jqXHR) {
                //console.log(response);
                parseComments(response,id);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function parseComments(c,narid) {
        var s = "", h = "";
        for (var i = (c.length-4); i > 0; i -= 4) {
            h = "http://robohash.org/" + c[i+1];
            s += "<div class='comments-row'>"
                        + "<div class='comments-date'>" + c[i + 3] + "</div>"
                        + "<div class='comments-image' style=\"background: url('" + h + "')\"></div>"
                        + "<div class='com-error-" + c[i + 2] + "' style='display: none;color: red;'>Please no empty comments.</div>"
                        + "<div class='comments-content'>" +
                        c[i + 1]
                        + "</div>"
                        + "<div class='com-child-error-" + c[i + 2] + "' style='display: none;margin-left:24px;color: red;'>Please no empty comments</div>"
                        + "<div class='comments-child-" + c[i + 2] + "'></div>"
                        + "<div class='comments-replybtn-" + c[i + 2] + "' style='margin-left:24px'><a href='#' class='btnwide' onClick='comOnComment(" + c[i + 2] + ")'>Reply</a></div>"
                        + "<div class='comments-on-" + c[i + 2] + "' style='display: none;margin-left:24px;'><textarea id='comOnContent-" + c[i + 2] + "' style='resize: none; width: 269px; margin: 0;'></textarea><a href='#' class='btnwide' onclick='comOnSubmit(" + c[i + 2] + "," + narid + ")'>Reply Now</a><a href='#' class='btnwide' style='margin-left:10px;' onclick='comOnCancel(" + c[i + 2] + ")'>Cancel</a></div>"
                        + "</div><div style='clear:both; margin-bottom: 2px;'></div>";
            getChildComs(narid, c[i + 2]);
        }
        $("#comments-list").html(s);
    }

    function refreshCommentID(id) {
        $("#comments-add").html("<textarea id='comments-text' type='text' style='resize: none; width: 295px; margin: 0;'></textarea><a class='btnwide' onclick='validComment(" + id + ")' href='#'>Add / ajouter</a>");
    }

    function comOnCancel(id) {
        var btn = ".comments-replybtn-" + id;
        var comid = ".comments-on-" + id;
        var errid = ".com-child-error-" + id;
        $(errid).css('display', 'none');
        $(comid).css('display', 'none');
        $(btn).css("display", "inline-block");
        $('.popup-lower').animate({ scrollTop: '-=50px' }, 800);
        
    }

    function comOnSubmit(id,narid) {

        var comid = "#comOnContent-" + id;
        var content = $(comid).val();
        var errid = ".com-child-error-" + id;

        if (content.length == 0) {
            $(errid).css("display", "inline-block");
        }
        else
        {
            addComOnCom(narid, id, content);
        }
    }

    function setChildComs(r,cid)
    {
        var s = "", h = "";
        var comid = ".comments-child-" + cid;
        for (var i = (r.length) ; i > 0; i -= 4) {
            h = "http://robohash.org/" + r[i - 2];
            s += "<div class='child' style='width: 260px;margin-left:24px;float:left;'>"
                + "<div class='comments-date' style='background-color:#fbfbfb;'>" + r[i - 1] + "</div>"
                + "<div class='comments-image' style=\"background: url('" + h + "')\"></div>"
                + "<div class='child-content' style='background: #e1e1e1;margin-left:24px;width: 260px;'>" + r[i-3] + "</div>"
                + "</div><div style='clear:both; margin-bottom: 2px;'></div>";
        }
        $(comid).html(s);
    }

    function getChildComs(nid, cid) {
        $.ajax({
            url: "/Narrative/GetChildComs",
            type: "get",
            data: { nid: nid, cid: cid },
            success: function (response, textStatus, jqXHR) {
                //console.log(response);
                setChildComs(response, cid);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function addComOnCom(narid,id,com) {
        $.ajax({
            url: "/Narrative/AddComOnComment",
            type: "get",
            data: { narid: narid, id: id, com: com },
            success: function (response, textStatus, jqXHR) {
                if (response != null && response != "") {
                    var s = "", h = "";
                    var comid = ".comments-child-" + id;
                    s = $(comid).html();
                    h = "http://robohash.org/" + com;
                    s += "<div class='child' style='width: 260px;margin-left:24px;float:left;'>"
                        + "<div class='comments-date' style='background-color:#fbfbfb;'>1 sec ago</div>"
                        + "<div class='comments-image' style=\"background: url('" + h + "')\"></div>"
                        + "<div class='child-content' style='background: #e1e1e1;margin-left:24px;width: 260px;'>" + com + "</div>"
                        + "</div><div style='clear:both; margin-bottom: 2px;'></div>";
                    $(comid).html(s);
                    comOnCancel(id);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function comOnComment(id) {
        var btn = ".comments-replybtn-" + id;
        var comid = ".comments-on-"+id;
        $(comid).css("display", "inline-block");
        $(btn).css('display', 'none');
        var y = $(window).scrollTop();
        $('.popup-lower').animate({ scrollTop: '+=75px' }, 800);
        $('.fancybox-inner').animate({ scrollTop: '+=100px' }, 800);
    }

    function addComValid(id)
    {
        var comid = ".comments-content-" + id;
        var content = $(comid).val();
        var errid = ".com-error-" + id;

        if (content.length == 0) {
            $(errid).css("display", "inline-block");
        }
        else {
            addComment(id);
        }
    }

    function validComment(id)
    {
        if ($('#comments-text').val().length == 0) {
            $('.com-error').css("display", "inline-block");
        }
        else {
            $('.com-error').css('display', 'none');
            addComment(id);
        }
    }

    function addComment(id) {
        var c = $("#comments-text").val();
        $("#comments-text").val("");

        $.ajax({
            url: "/Narrative/AddComment",
            type: "get",
            data: { id: id, c: c },
            success: function (response, textStatus, jqXHR) {
                console.log(response);
                if (response != null && response != "") {
                    comOnCancel(id);
                    var h = "http://robohash.org/" + response;
                    $("#comments-list").html("<div class='comments-row'>"
                        + "<div class='comments-date'>1 sec ago</div>"
                        + "<div class='comments-image' style=\"background: url('" + h + "')\"></div>"
                        + "<div class='comments-content'>" +
                        c
                        + "</div>"
                        + "</div><div style='clear:both; margin-bottom: 2px;'></div>" + $("#comments-list").html());
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function refreshFlagID(id) {
        $("#flag-success").css({ "display": "none" });
        $("#flag-not-success").css({ "display": "none" });
        $("#flag-add").html("<textarea id='flag-text' type='text' style='resize: none; width: 295px; height: 50px; margin: 0;'></textarea><a id='flag-submit' class='btnwide' onclick='addFlag(" + id + ")' href='#'>Submit / soumettre</a>");
    }

    function addFlag(id) {
        if ($('#flag-text').val() != "") {
            var c = $("#flag-text").val();
            $("#flag-text").val("");

            $.ajax({
                url: "/Narrative/AddFlag",
                type: "get",
                data: { id: id, c: c },
                success: function (response, textStatus, jqXHR) {
                    //console.log(response);
                    if (response == "True") {
                        $("#flag-submit").css({ "display": "none" });
                        $("#flag-success").css({ "display": "block" });
                    } else {
                        $("#flag-submit").css({ "display": "none" });
                        $("#flag-not-success").css({ "display": "block" });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //alert("err");
                },
                // callback handler
                complete: function () {
                }
            });
        }
    }
</script>