.menu-top a { 
    color: white;
    text-decoration: underline;
}
.menu-top a:hover { 
    color: white;
    text-decoration: none;
}
table { border-collapse: collapse; margin: 0 auto; }
table form { min-width: 20px;max-width:100px; height: 0px; }
table, th, td { border: 1px solid black; }
th { height: 7px; padding: 5px; min-width: 20px;}
tr { background: #7e7e7e;color:#e1e1e1; }
tr a {color:#1e1e1e;}
tr.alt { background: #e1e1e1;color:#1e1e1e; }
th.warn { background: #ff8282; }


.fancybox:hover { color: #bcbcbc; }