/* common */
#logo { margin-top: 20px; margin-bottom: 0px;}
.menu-top { 
    background: #1e1e1e; 
    height: 35px;
    color: white;
}
ul.buttons li { display: inline; float: left; margin: 2px 5px 2px 0; line-height: 2.3em; }

#search-button {
    cursor: pointer;
}

#search {
    display:inline;
    height: 34px;
}
#search input {
    margin: 5px 5px 0 0;
    height: 11px;
    width: 100px;
    float: right;
}
#search a {
    margin: 5px 5px 0 0;
}

#footer { 
    background: none repeat scroll 0 0 #000000;
    color: #fbfbfb;
    height: 28px;
    margin-bottom: 10px;
    text-align: right;
}

#footer a{
    background-color:white;
}

.fright { float: right; }
.fleft { float: left; }

.pie-chart { position: absolute; float: left; margin-left: 1px; margin-top: 1px; pointer-events: none;}

a.grid.columns { 
    background-size: cover !important; 
    margin-bottom: 6px; 
    transition: opacity 0.5s; opacity:0.7; 
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.grid.columns:hover { 
    transition: opacity 0.5s; 
    opacity:1.0;
    -webkit-transform: scale(1.07,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    -moz-transform: scale(1.07,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 500ms;
    position: relative;
    z-index: 99;
}
.top.menu li { display: inline; float: left; margin: 0; line-height: 2.3em; }

/* flags */
.flags-row {}
.flags-row.alt {background: #eee;}
/* metrics */
.metrics-grid { background: #7e7e7e; padding: 10px; color:white}
.metrics-header { font-size: 1.7em; margin-bottom: 10px; }

/* comments */
.comments-row { }
.comments-image { background-size:24px 24px !important; float: left; width:24px; height: 24px; background: red; }
.comments-date { float: left; width: 279px; padding-left: 24px;font-size:0.8em;color:#1e1e1e;}
.comments-content { background: #bcbcbc; float: left; word-wrap: break-word; width: 279px; min-height: 24px; padding-left: 2px;}
.child-image{background-size:24px 24px !important;width:24px; height: 24px; background: red;}

/* lemmony snicket css */
.slider    { overflow: hidden; position: relative; }
.slider ul { margin: 0; padding: 0; }
.slider li { float: left; margin: 6px 0 0 6px; list-style: none; line-height: 0; }
/* IE6 issues */
.slider ul { width: 100%; }

/* fancy shmancy box */
.fancybox-overlay.fancybox-overlay-fixed { z-index:9998;}
.fancybox-nav { display: none; }

.popup-lower {
    color: #1e1e1e;
}

/* jplayer popup stuff */
#jplayer-narrative-id {
    margin-left: 3px;
    position: absolute;
    font-weight: bold;
    font-size: 1.5em;
    float: left;
    color: #000;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
}

.likesbar div {
}

/* help menu thing */
.helperguy {
    background: url('../Images/help/loading.gif');
    position:absolute;
    width: 112px;
    height: 149px;
    top:-108px;
    left: -100px;
}

.helperguyStand {
    background: url('../Images/help/standingup.gif');
    position:absolute;
    width: 112px;
    height: 149px;
    top:-108px;
    left: -100px;
}

.helperguyPoint {
    background: url('../Images/help/pointingStill.png');
    position:absolute;
    width: 112px;
    height: 149px;
    top:-108px;
    left: -100px;
}

.helperguyArrow {
    background: url('../Images/help/takingoutarrow.gif');
    position:absolute;
    width: 112px;
    height: 149px;
    top:-108px;
    left: -100px;
}

.helperguyArrowDown {
    background: url('../Images/help/puittingbackarrow.gif');
    position:absolute;
    width: 112px;
    height: 149px;
    top:-108px;
    left: -100px;
}

.helperguySit {
    background: url('../Images/help/sittingbackdown.gif');
    position:absolute;
    width: 112px;
    height: 149px;
    top:-108px;
    left: -100px;
}

.helperguy:hover {
    background: url('../Images/help/onHoverStill.png');
}

#help-menu {
    z-index: 10000;
}

div.floating-menu {
                   display:none;
                   left: -145px;
                   top:-210px;
                   position:absolute;
                   background:#eee;
                   border:1px solid #000;
                   background: url('../Images/help/loadbox.gif');
                   border-style:none;
                   background-repeat:no-repeat;
                   width: 136px;
                   height: 140px;
                   z-index: 10001;
                   }
div.floating-menu a, div.floating-load h3 {display:block;margin-left:12px;display:none;}

#preventclick {
position: absolute;
height: 0%;
width: 0%;
background-color: #000;
z-index: 20000;
opacity: 0;
}
#prevent-click-front {
padding: 20px;
z-index: 20001;
position: absolute;
top: 50px;
}
#prevent-popup {
    border: #000 1px solid;
    background: #ff9696;
    z-index: 99999;
    display: none;
    position: absolute;
}

.cursor {
    display:none;
    position: absolute;
    background: url('../Images/help/cursor.png');
    background-size:25px 25px;
    left: -85px;
    top: -40px;
    width: 25px;
    height: 25px;
    margin: 5px;
    z-index:99999;
}

.helpHover { background: url('../Images/help/box.gif');} 

#share-box {
    width: 305px;
}

.enButton{
    display: inline-block; 
    background-image: url('../../Images/lang/en.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 24px; 
    height: 24px; 
    float:right
}

.enHelp{
    display: inline-block; 
    background-image: url('../../Images/help/en.gif'); 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 24px; 
    height: 24px; 
    float:right
}

.frButton{
    display: inline-block; 
    background-image: url('../../Images/lang/fr.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 24px; 
    height: 24px; 
    float: right
}

.frHelp{
    display: inline-block; 
    background-image: url('../../Images/help/fr.gif'); 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 24px; 
    height: 24px; 
    float: right
}

textarea#share-text {
    min-height: 16px;
    max-height: 16px;
}

#help {
    position: absolute;
    top: -420px;
    width: 400px;
    height: 320px;
    visibility: hidden;
    background: url('/Images/help.png');
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #000;
}

.btnwide {
    color:black;
    background-color:#fbfbfb;
    border-top: 1px grey solid;
    border-left: 1px grey solid;
	display: inline-block;
	margin: 2px 2px 2px 2px;
    padding: 1px;
    text-align: center;
    line-height: 1.7em;

	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.btnwide:hover {
	background-color: #7e7e7e !important;
    position: relative;
    z-index: 99;
}

.btn {
    color:black;
    background-color:#fbfbfb;
    border-top: 1px grey solid;
    border-left: 1px grey solid;
	display: inline-block;
	margin-top: 5px;
    margin-left: 5px;
	width: 24px;
	height: 24px;
    text-align: center;
    line-height: 1.7em;

	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.btn:hover {
	background-color: #7e7e7e !important;
    position: relative;
    z-index: 99;
}
.btn:active {

}

/* VOTING BUTTONS */
#agreeButton:hover {
    background: #96ff96 !important;
}
#ambivalentButton:hover {
    background: #ffff96 !important;
}
#disagreeButton:hover {
    background: #ff9696 !important;
}

.languageFaded {
    opacity:0.20 !important;
    -webkit-transition: opacity 1s ease-in-out !important;
    -moz-transition: opacity 1s ease-in-out !important;
    -o-transition: opacity 1s ease-in-out !important;
    -ms-transition: opacity 1s ease-in-out !important;
    transition: opacity 1s ease-in-out !important;
}

.filterFaded {
    opacity:0.20 !important;
    -webkit-transition: opacity 1s ease-in-out !important;
    -moz-transition: opacity 1s ease-in-out !important;
    -o-transition: opacity 1s ease-in-out !important;
    -ms-transition: opacity 1s ease-in-out !important;
    transition: opacity 1s ease-in-out !important;
}

.buttonDown {
    background-color: #7e7e7e;
}

.buttonDown:hover {
    background-color: #fbfbfb;
}

.homeCentered {
    position: absolute;
    top: 50%; 
    left: 50%; 
}

.skipButton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	border:2px solid #dcdcdc;
	display:block;
	color:#777777;
	font-family:Arial;
	font-size:16px;
	font-weight: bold;
	font-style: normal;
	line-height:45px;
	width: 175px;
    /*height: 65px;*/
	text-decoration:none;
	text-align:center;
	text-shadow:1px 4px 0px #ffffff; 
    margin-left: 50px;

    position:absolute;
    bottom: 30px;
}
.skipButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.homePlayButton {
    position: absolute;      
    top: 45%; 
    left: 50%; 
    margin-top: -30px; 
    margin-left: 300px;
}
.homePlayButton img{
    width: 80px; 
    height: auto;
}

#video {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    margin-top: -160px; 
    margin-left: -150px
}

#homeMainContent { 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    height:100%
}

#admin-login {
    text-align: right; float: right;
}

#share-return a {
    color: #ddd;
}
#share-return a:hover {
    color: #aaa;
}