#jquery_jplayer_N {
        overflow-y: hidden ! important;
        overflow-x: hidden ! important;
        /*background-size: cover;*/
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        width: 320px; height: 200px;
}

#jplayer_container_N {
    width: 320px; height: 320px;
}

div.jp-progress {
    background: #ddd;
	overflow:hidden;
    height:15px;
    margin: 3px 0 3px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
div.jp-seek-bar {
	background: #e1e1e1;
	width:0px;
	height:100%;
	cursor: pointer;
}
div.jp-play-bar {
	background: #7e7e7e;
	width:0px;
	height:100%;
}
.jp-current-time{ padding-left:12px;float: left; color:#fbfbfb;}
.jp-duration { float: left; }
.jp-separator { float: left; color:#1e1e1e;margin-left:5px;margin-right:5px;}

.jp-jplayer img { /*width: 320px;*/ height:200px; }
.jp-playlist { background: #bcbcbc; }
.jp-playlist ul { margin: 3px 0 0 0; }
.jp-playlist li {
    font-weight: bold;
    background: #ddd; display: inline; float: left; margin: 0 0 0 3px; 
    line-height: 1.5em; width: 24px; height: 24px; text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.btn.jp-play {
    padding-top:6px;
    width: 35px;
    height: 32px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}
.btn.jp-pause {
    padding-top:6px;
    width: 35px;
    height: 32px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}
.btn.jp-previous {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}
.btn.jp-stop {
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
}

.btn.jp-next {
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
}

#jplayer_container_N {
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}

.jp-gui { background: #bcbcbc; }

ul.jp-controls { margin: 0;margin-top:25px; }
.jp-controls li { display: inline; float: left; margin: 0; line-height: 2.3em; }

.jp-playlist-item { color: #1e1e1e; line-height: 1.8em; }

li.jp-playlist-current { 
    background: #7e7e7e; 
    border-top: 1px solid #1e1e1e;
	border-left: 1px solid #1e1e1e;
    margin-right: -1px;

	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;}

div.jp-volume-bar {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
	overflow: hidden;
	background: #1e1e1e;
	width: 66px;
	height: 10px;
	cursor: pointer;
    padding: 1px;
    float:right;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

div.jp-volume-bar-value {
	background: #fbfbfb;
	width:0px;
	height:10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}