﻿@model IEnumerable<YouDeliberate.Models.Entity.narrative>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/analytics")
    @Scripts.Render("~/bundles/csspie")

    @Scripts.Render("~/bundles/lemmon")
    <script type="text/javascript">
        window.onload = function () {
            $('#lemmonparty').lemmonSlider({
                'infinite': true
            });
            $("#searchInput").keyup(function (e) {
                if (e.which == 13) {
                    $('#aSearch').click();
                }
            });
        }

    </script>

    <script>
        function selectFrench() {
            //removeEnglish filter
            if ($("#englishButton").hasClass("buttonDown")) {
                $("#englishButton").removeClass("buttonDown");
                $(".french").removeClass("faded");
            }
            $(".english").toggleClass("faded");
            $("#frenchButton").toggleClass("buttonDown");
        }

        function selectEnglish() {
            //removeFrench filter
            if ($("#frenchButton").hasClass("buttonDown")) {
                $("#frenchButton").removeClass("buttonDown");
                $(".english").removeClass("faded");
            }
            $(".french").toggleClass("faded");
            $("#englishButton").toggleClass("buttonDown");
        }
    </script>
    <script>
        function showHelp() {
            $("#help").css("visibility", "visible");
        }
        function hideHelp() {
            $("#help").css("visibility", "hidden");
        }

        function searchValidation()
        {
            var id = document.getElementById('searchInput').value;
            if (isNaN(id) || id.length == 0 || id.indexOf('.') > 0) {
                displayError("Narrative ID is invalid!");
                $("#error").css("visibility", "visible");
            } else {
                search(id);
                $("#error").css("visibility", "hidden");
                $("#errorMsg").html("");
            }
        }

        function searchInput(id) {
            var id = document.getElementById('searchInput').value;
            populatePopup(id);
        }

        function displayError(error) {
            $("#error").css("visibility", "visible");
            $("#errorMsg").html(error);
        }
    </script>
</head>
<body>
    <div id="preventclick" onclick="preventClickPopup();"></div>
    <div id="prevent-popup">
        Please wait for the tutorial to finish. <br />
        Prière de laisser le tutoriel finir. 
    </div>
    <div class="container">
        <div class="one-third column">&nbsp;</div>
        <div class="one-third column">
            <div id="error" style="visibility: hidden; float: left;">
                <i class="fa fa-exclamation-circle fa-2x" style="float: left; color: #802400;"></i>
                <div id="errorMsg" style="float:left; margin-top:3px; margin-left: 2px;"></div>
            </div>
        </div>
        <div id="logo" class="one-third column">
            <img src="~/Images/logo.png" alt="YouDeliberate" style="float:right;" />
        </div>
        <div class="one-third column menu-top">
            <span style="float:left; margin: 5px 0 0 5px; color: #fff; display: none;">
                <a onmouseover="showHelp();" onmouseout="hideHelp();" title="Help/Aide" class="" href="#"><i class="fa fa-question-circle fa-2x" style="color: #fff;"></i></a>
            </span>
            <ul class="top menu" style="margin-left:5px;">
                <li style="margin: 2px 0 0 5px; color: #fff; line-height:1.1em;">Filter by: <br />Filtrer par:</li>

                <li><a title="None" id="NoneBtn" class="btn" style="margin-right:10px;" href="@Url.Action("Index", "Browse")"><i class="fa fa-times fa-lg"></i></a></li>

                <!-- filter by For -->
                @if (ViewBag.PreviousFilterType == "Agree")
                {
                    <li><a title="For" id="AgreeBtn" class="btn buttonDown filterButton" onclick="filterNarratives('Agree')" href="#"><i class="fa fa-smile-o fa-lg"></i></a></li>
                }
                else
                {
                    <li><a title="For" id="AgreeBtn" class="btn filterButton" onclick="filterNarratives('Agree')" href="#"><i class="fa fa-smile-o fa-lg"></i></a></li>
                }
                <!-- filter by Neutral -->
                @if (ViewBag.PreviousFilterType == "Ambivalent")
                {
                    <li><a title="Neutral" id="AmbivalentBtn" class="btn buttonDown filterButton" onclick="filterNarratives('Ambivalent')" href="#"><i class="fa fa-meh-o fa-lg"></i></a></li>
                }
                else
                {
                    <li><a title="Neutral" id="AmbivalentBtn" class="btn filterButton" onclick="filterNarratives('Ambivalent')" href="#"><i class="fa fa-meh-o fa-lg"></i></a></li>
                }
                <!-- filter by Disagree -->
                @if (ViewBag.PreviousFilterType == "Disagree")
                {
                    <li><a title="Against" id="DisagreeBtn" class="btn buttonDown filterButton" onclick="filterNarratives('Disagree')" href="#"><i class="fa fa-frown-o fa-lg"></i></a></li>
                }
                else
                {
                    <li><a title="Against" id="DisagreeBtn" class="btn filterButton" onclick="filterNarratives('Disagree')" href="#"><i class="fa fa-frown-o fa-lg"></i></a></li>
                }

                @if (ViewBag.PreviousLangType == "English")
                {
                    <li><a title="English" id="englishButton" class="btn enButton buttonDown" href="javascript:selectEnglish()"></a></li>
                }
                else
                {
                    <li><a title="English" id="englishButton" class="btn enButton" href="javascript:selectEnglish()" ></a></li>
                }
                @if (ViewBag.PreviousLangType == "French")
                {
                    <li><a title="Fran&ccedil;ais" id="frenchButton" class="btn frButton buttonDown" href="javascript:selectFrench()" ></a></li>
                }
                else
                {
                    <li><a title="Fran&ccedil;ais" id="frenchButton" class="btn frButton" href="javascript:selectFrench()" ></a></li>
                }
            </ul>
        </div>
        <div class="one-third column menu-top">
            <ul class="top menu">
                <li style="margin: 2px 0 0 5px; color: #fff; line-height:1.1em;">Order by: <br />Classer par:</li>
                <!-- sort by number of agrees -->
                @if (ViewBag.PreviousSortType == "MostAgrees")
                {
                    <li><a title="Most Agrees" class="btn buttonDown sortButton" style="" id="MostAgrees"><i class="fa fa-smile-o fa-lg"></i></a></li>
                }
                else
                {
                    <li><a title="Most Agrees" class="btn sortButton" style="" id="MostAgrees" type="button" href="#"><i class="fa fa-smile-o fa-lg"></i></a></li>
                }

                <!-- sort by number of ambivalent -->
                @if (ViewBag.PreviousSortType == "MostNeutrals")
                {
                    <li><a title="Most Neutrals" class="btn buttonDown sortButton" style="" id="MostNeutrals" type="button" href="#"><i class="fa fa-meh-o fa-lg"></i></a></li>
                }
                else
                {
                    <li><a title="Most Neutrals" class="btn sortButton" style="" id="MostNeutrals" type="button" href="#"><i class="fa fa-meh-o fa-lg"></i></a></li>
                }
                <!-- sort by number of disagrees -->
                @if (ViewBag.PreviousSortType == "MostDisagrees")
                {
                    <li><a title="Most Disagrees" class="btn buttonDown sortButton" style="" id="MostDisagrees" type="button" href="#"><i class="fa fa-frown-o fa-lg"></i></a></li>
                }
                else
                {
                    <li><a title="Most Disagrees" class="btn sortButton" style="" id="MostDisagrees" type="button" href="#"><i class="fa fa-frown-o fa-lg"></i></a></li>
                }
                <!-- sort by number of views -->
                @if (ViewBag.PreviousSortType == "MostViews")
                {
                    <li><a title="Most Views" class="btn buttonDown sortButton" style="" id="MostViews" type="button" href="#"><i class="fa fa-eye fa-lg"></i></a></li>
                }
                else
                {
                    <li><a title="Most Views" class="btn sortButton" style="" id="MostViews" type="button" href="#"><i class="fa fa-eye fa-lg"></i></a></li>
                }
                <!-- sort by number of comments -->
                @if (ViewBag.PreviousSortType == "MostComments")
                {
                    <li><a title="Most Comments" class="btn buttonDown sortButton" style="" id="MostComments" type="button" href="#"><i class="fa fa-comments fa-lg"></i></a></li>
                }
                else
                {
                    <li><a title="Most Comments" class="btn sortButton" style="" id="MostComments" type="button" href="#"><i class="fa fa-comments fa-lg"></i></a></li>
                }
                <!-- sort by date added -->
                @if (ViewBag.PreviousSortType == "DateAdded")
                {
                    <li><a title="Most Recent" class="btn buttonDown sortButton" style="" id="DateAdded" type="button" href="#"><i class="fa fa-clock-o fa-lg"></i></a></li>
                }
                else
                {
                    <li><a title="Most Recent" class="btn sortButton" style="" id="DateAdded" type="button" href="#"><i class="fa fa-clock-o fa-lg"></i></a></li>
                }

            </ul>
        </div>
        <div class="one-third column menu-top">
            <div id="search">
                <input id="searchInput" onclick="this.value = ''" type="text" value="Narrative ID" /><a class="btn" style="float:right;" id="search-button" onclick="searchValidation()"><i class="fa fa-search fa-lg"></i></a>
                <a id="aSearch" href="#player-pop" onclick="searchInput()" class="fancybox btn" style="float:right;visibility:hidden;width:0px;height:0px;"></a>
            </div>
        </div>

        <div class="sixteen columns menu-top" style="background: #e1e1e1; position: relative; height: 430px;">
            @RenderBody()
        </div>
        <script>
    /**************************

        TUTORIAL FUNCTIONS

    **************************/

    $("HTML").mousemove(function (e) {
        $("#prevent-popup").css({
            "top": e.pageY,
            "left": e.pageX + 15
        });
    });

    function preventClicks() {
        $("#preventclick").css("height", "100%");
        $("#preventclick").css("width", "100%");
    }

    function allowClicks() {
        $("#preventclick").css("height", "0");
        $("#preventclick").css("width", "0");
    }

    function preventClickPopup() {
        $("#prevent-popup").show();
        setTimeout(function () {
            $("#prevent-popup").fadeOut();
        }, 3000);
    }

    function noneBtn(cord, but) {
        var agree = $('#NoneBtn').offset();
        var x = cord.left - agree.left;
        setTimeout(function () {
            $(".cursor").animate({ "left": '-=' + x }, "slow");
            setTimeout(function () {
                $('#NoneBtn').removeClass();
                $('#NoneBtn').addClass('btn buttonDown');
                setTimeout(function () {
                    filterNarratives('Disagree');
                    selectFrench();
                    $('#NoneBtn').removeClass();
                    $('#DateAdded').removeClass("buttonDown");
                    $('#NoneBtn').addClass('btn');
                    setTimeout(function () {
                        allowClicks();
                        resetCursor();
                    }, 500);
                }, 500);
            }, 3000);
        }, 6000);
    }

    function animateFilter(lang) {
        preventClicks();
        helpStandUp();
        $(".cursor").fadeIn();
        var time = 6000;
        if (lang == "english") {
            var intro = new Audio('@Url.Content("~/Audios/help/en/filtering/filtIntro.mp3")');
            var options = new Audio('@Url.Content("~/Audios/help/en/filtering/filtOptions.mp3")');
            var filtAgree = new Audio('@Url.Content("~/Audios/help/en/filtering/filtAgree.mp3")');
            var filtAmbivalent = new Audio('@Url.Content("~/Audios/help/en/filtering/filtAmbivalent.mp3")');
            var filtDisagree = new Audio('@Url.Content("~/Audios/help/en/filtering/filtDisagree.mp3")');
            var filtEnglish = new Audio('@Url.Content("~/Audios/help/en/filtering/filtEnglish.mp3")');
            var filtFrench = new Audio('@Url.Content("~/Audios/help/en/filtering/filtFrench.mp3")');
            var filtX = new Audio('@Url.Content("~/Audios/help/en/filtering/filtX.mp3")');
        }
        if (lang == "french") {
            var intro = new Audio('@Url.Content("~/Audios/help/fr/filtering/filtIntro.mp3")');
            var options = new Audio('@Url.Content("~/Audios/help/fr/filtering/filtOptions.mp3")');
            var filtAgree = new Audio('@Url.Content("~/Audios/help/fr/filtering/filtAgree.mp3")');
            var filtAmbivalent = new Audio('@Url.Content("~/Audios/help/fr/filtering/filtAmbivalent.mp3")');
            var filtDisagree = new Audio('@Url.Content("~/Audios/help/fr/filtering/filtDisagree.mp3")');
            var filtEnglish = new Audio('@Url.Content("~/Audios/help/fr/filtering/filtEnglish.mp3")');
            var filtFrench = new Audio('@Url.Content("~/Audios/help/fr/filtering/filtFrench.mp3")');
            var filtX = new Audio('@Url.Content("~/Audios/help/fr/filtering/filtX.mp3")');
            time = time + 3000;
        }
        intro.play();
        var agree = $('#AgreeBtn').offset();
        var curs = $('.cursor').offset();
        var x = agree.left - curs.left + 8;
        var y = agree.top - curs.top + 13;
        $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, 8000);

        playAudio(options, time);
        time = time + 3000;
        playAudioFilter(filtAgree, 'Agree', time);
        helpHover("#AgreeBtn", time);
        time = time + 3000;
        playAudioFilter(filtAmbivalent, 'Ambivalent', time);
        helpHover("#AmbivalentBtn", time);
        time = time + 3000;
        playAudioFilter(filtDisagree, 'Disagree', time);
        helpHover("#DisagreeBtn", time);
        time = time + 3000;
        helpHover("#englishButton", time);
        $("#englishButton").removeClass("enButton");
        $("#englishButton").addClass("enHelp");
        setTimeout(function () {
            $("#englishButton").removeClass("enHelp");
            $("#englishButton").addClass("enButton");
        }, time);

        setTimeout(function () {
            filtEnglish.play();
            selectEnglish();
            setTimeout(function () {
                $(".cursor").animate({ "left": '+=' + 30 + '' }, 1000);
            }, 2000);
        }, (time));

        time = time + 3000;
        $("#frenchButton").removeClass("frButton");
        $("#frenchButton").addClass("frHelp");
        setTimeout(function () {
            $("#frenchButton").removeClass("frHelp");
            $("#frenchButton").addClass("frButton");
        }, time);
        setTimeout(function () {
            filtFrench.play();
            selectFrench();
            setTimeout(function () {
                setTimeout(function () {
                    filtX.play();
                }, (2500));
                var last = $('#frenchButton').offset();
                var button = '#frenchButton';
                helpHover("#NoneBtn", time);
                noneBtn(last, button);
                helpStandDown();
            }, (300));
        }, time);
    }

    function animateSearch(lang) {
        preventClicks();
        $(".cursor").fadeIn();
        var time = 5000;
        if (lang == "english") {
            var searchIntro = new Audio('@Url.Content("~/Audios/help/en/searching/searchIntro.mp3")');
            var searchMove = new Audio('@Url.Content("~/Audios/help/en/searching/searchMove.mp3")');
            var searchExample = new Audio('@Url.Content("~/Audios/help/en/searching/searchExample.mp3")');
            var searchTry = new Audio('@Url.Content("~/Audios/help/en/searching/searchTry.mp3")');
        }
        if (lang == "french") {
            var searchIntro = new Audio('@Url.Content("~/Audios/help/fr/searching/searchIntro.mp3")');
            var searchMove = new Audio('@Url.Content("~/Audios/help/fr/searching/searchMove.mp3")');
            var searchExample = new Audio('@Url.Content("~/Audios/help/fr/searching/searchExample.mp3")');
            var searchTry = new Audio('@Url.Content("~/Audios/help/fr/searching/searchTry.mp3")');
            time = time + 3000;
        }
        var search = $('#searchInput').offset();
        var curs = $('.cursor').offset();
        var x = search.left - curs.left + 25;
        var y = search.top - curs.top + 13;
        searchIntro.play();

        playAudio(searchMove, time);

        setTimeout(function () {
            $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, 3000);
        }, time);

        time = time + 5000;

        setTimeout(function () {
            $('#searchInput').click();
        }, time);
        if (lang == "french") {
            time = time + 3000;
        }
        playAudio(searchExample, time);
        time = time + 3000;
        inputTextTime('#searchInput', '7', time);
        time = time + 500;
        inputTextTime('#searchInput', '76', time);
        time = time + 500;
        inputTextTime('#searchInput', '765', time);
        time = time + 1000;
        setTimeout(function () {
            searchValidation();
        }, time);

        time = time + 3000;
        helpHover("#search-button", time);
        playAudio(searchTry, time);
        time = time + 2000;
        setTimeout(function () {
            $('#searchInput').val('Narrative ID');
            $(".cursor").fadeOut();
            parent.$.fancybox.close();
        }, time);

        time = time + 2000;
        setTimeout(function () {
            allowClicks();
            resetCursor();
        }, time);
    }

    function inputTextTime(id, val, time) {
        setTimeout(function () {
            $(id).val(val)
        }, time);
    }

    function animateOrder(lang) {
        preventClicks();
        var time = 6000;
        if (lang == "english") {
            var intro = new Audio('@Url.Content("~/Audios/help/en/ordering/orderIntro.mp3")');
            var types = new Audio('@Url.Content("~/Audios/help/en/ordering/orderTypes.mp3")');
            var orderAgree = new Audio('@Url.Content("~/Audios/help/en/ordering/orderAgree.mp3")');
            var orderAmbivalent = new Audio('@Url.Content("~/Audios/help/en/ordering/orderAmbivalent.mp3")');
            var orderDisagree = new Audio('@Url.Content("~/Audios/help/en/ordering/orderDisagree.mp3")');
            var orderViews = new Audio('@Url.Content("~/Audios/help/en/ordering/orderViews.mp3")');
            var orderComments = new Audio('@Url.Content("~/Audios/help/en/ordering/orderComments.mp3")');
            var orderRecent = new Audio('@Url.Content("~/Audios/help/en/ordering/orderRecent.mp3")');
            var orderExample = new Audio('@Url.Content("~/Audios/help/en/ordering/orderExample.mp3")');
        }
        if (lang == "french") {
            var intro = new Audio('@Url.Content("~/Audios/help/fr/ordering/orderIntro.mp3")');
            var types = new Audio('@Url.Content("~/Audios/help/fr/ordering/orderTypes.mp3")');
            var orderAgree = new Audio('@Url.Content("~/Audios/help/fr/ordering/orderAgree.mp3")');
            var orderAmbivalent = new Audio('@Url.Content("~/Audios/help/fr/ordering/orderAmbivalent.mp3")');
            var orderDisagree = new Audio('@Url.Content("~/Audios/help/fr/ordering/orderDisagree.mp3")');
            var orderViews = new Audio('@Url.Content("~/Audios/help/fr/ordering/orderViews.mp3")');
            var orderComments = new Audio('@Url.Content("~/Audios/help/fr/ordering/orderComments.mp3")');
            var orderRecent = new Audio('@Url.Content("~/Audios/help/fr/ordering/orderRecent.mp3")');
            var orderExample = new Audio('@Url.Content("~/Audios/help/fr/ordering/orderExample.mp3")');
            time = time + 2000;
        }

        intro.play();
        $(".cursor").fadeIn();
        var agree = $('#MostAgrees').offset();
        var curs = $('.cursor').offset();
        var x = agree.left - curs.left + 8;
        var y = agree.top - curs.top + 13;
        $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, 5000);

        playAudio(types, time);
        time = time + 3000;
        playAudioAction(orderAgree, time);
        helpHover("#MostAgrees", time);
        time = time + 3000;
        playAudioAction(orderAmbivalent, time);
        helpHover("#MostNeutrals", time);
        time = time + 3000;
        playAudioAction(orderDisagree, time);
        helpHover("#MostDisagrees", time);
        time = time + 3000;
        playAudioAction(orderViews, time);
        helpHover("#MostViews", time);
        time = time + 3000;
        playAudioAction(orderComments, time);
        helpHover("#MostComments", time);
        time = time + 3000;
        playAudio(orderRecent, time);
        helpHover("#DateAdded", time);
        time = time + 3000;

        setTimeout(function () {
            orderExample.play();
            setTimeout(function () {
                window.location.assign("/Browse/SortViewNarratives/?sortType=DateAdded&amp;langType=&amp;filtType=");
            }, (5000));
        }, time);
    }

    function playAudioFilter(audio, filter, time) {
        setTimeout(function () {
            audio.play();
            filterNarratives(filter);
            setTimeout(function () {
                $(".cursor").animate({ "left": '+=' + 30 + '' }, 1000);
            }, 2000);
        }, (time));
    }

    function playAudio(audio, time) {
        setTimeout(function () {
            audio.play();
        }, (time));
    }

    function playAudioAction(audio, time) {
        setTimeout(function () {
            audio.play();
            setTimeout(function () {
                $(".cursor").animate({ "left": '+=' + 30 + '' }, 1000);
            }, 2000);
        }, (time));
    }

    function doPlayerTutorial(lang) {
        preventClicks();
        $(".cursor").fadeIn();
        var t = 0;

        if (lang == 'english')
            new Audio('@Url.Content("~/Audios/help/en/player/tutorial_player.mp3")').play()
        else
            new Audio('@Url.Content("~/Audios/help/fr/player/tutorial_player_fr.mp3")').play()

                t += 3000;
                setTimeout(function () {
                    var next = $('#grid0').offset();
                    var curs = $('.cursor').offset();
                    var x = next.left - curs.left + 8;
                    var y = next.top - curs.top + 13;

                    $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, 3000);
                }, t);

                t += 3000;
                setTimeout(function () {
                    $("#grid1").click();
                }, t);

                t += 4000;
                setTimeout(function () {
                    next = $('.jp-play').offset();
                    curs = $('.cursor').offset();
                    x = next.left - curs.left + 8;
                    y = next.top - curs.top + 13;
                    $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, 3000);
                    //$(".jp-play").click();
                }, t);

                t += 10500;
                setTimeout(function () {
                    next = $('#agreeButton').offset();
                    curs = $('.cursor').offset();
                    x = next.left - curs.left + 8;
                    y = next.top - curs.top + 13;
                    $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, "slow");

                }, t);

                t += 1000;
                setTimeout(function () {
                    next = $('#ambivalentButton').offset();
                    curs = $('.cursor').offset();
                    x = next.left - curs.left + 8;
                    y = next.top - curs.top + 13;
                    $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, "slow");
                }, t);

                t += 1000;
                setTimeout(function () {
                    next = $('#disagreeButton').offset();
                    curs = $('.cursor').offset();
                    x = next.left - curs.left + 8;
                    y = next.top - curs.top + 13;
                    $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, "slow");
                }, t);

                t += 5000;
                setTimeout(function () {
                    next = $('#tab-comments').offset();
                    curs = $('.cursor').offset();
                    x = next.left - curs.left + 8;
                    y = next.top - curs.top + 13;
                    $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, "slow");
                }, t);

                t += 2000;
                setTimeout(function () {
                    $("#tab-comments").click();
                }, t);

                t += 5000;
                setTimeout(function () {

                    next = $('#tab-share').offset();
                    curs = $('.cursor').offset();
                    x = next.left - curs.left + 8;
                    y = next.top - curs.top + 13;
                    $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, "slow");

                }, t);

                t += 2000;
                setTimeout(function () {
                    $("#tab-share").click();
                }, t);

                t += 5000;
                setTimeout(function () {
                    //$("#tab-share").click();
                    next = $('#tab-flag').offset();
                    curs = $('.cursor').offset();
                    x = next.left - curs.left + 8;
                    y = next.top - curs.top + 13;
                    $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, "slow");

                }, t);

                t += 2000;
                setTimeout(function () {
                    $("#tab-flag").click();
                }, t);

                t += 5000;
                setTimeout(function () {
                    $("#tab-flag").click();
                    next = $('.fancybox-item.fancybox-close').offset();
                    curs = $('.cursor').offset();
                    x = next.left - curs.left + 8;
                    y = next.top - curs.top + 13;
                    $(".cursor").animate({ "left": '+=' + x + '', "top": "+=" + y + '' }, "slow");
                }, t);

                t += 3000;
                setTimeout(function () {
					if (lang == 'english')
                        new Audio('@Url.Content("~/Audios/help/en/player/now_you_try_it.mp3")').play()
                    else
                        new Audio('@Url.Content("~/Audio/help/fr/player/now_you_try_it_fr.mp3")').play()
                    $(".fancybox-item.fancybox-close").click();
                    allowClicks();
                    resetCursor();
                }, t);
    }

    function showHelpMenu() {
        helpStandUp();
        $(".floating-menu").css("display", "inline");
        $(".floating-menu").addClass("floating-load");
        setTimeout(function () {
            $(".fancybox-close").fadeIn();
            $(".floating-load a").fadeIn();
            $(".floating-load span").fadeIn();
            $("#helpTitle").fadeIn();
        }, 1000);
    }
    function hideHelpMenu() {
        $(".floating-load").css("display", "none");
        helpStandUp();
        setTimeout(function () {
            helpStandDown();
        }, 2000);
    }

    function resetCursor() {
        $(".cursor").fadeOut();
        $(".cursor").css("left", "-85px");
        $(".cursor").css("top", "-40px");
    }

    function helpStandUp() {
        $(".helperguy").addClass("helperguyStand");
        $(".helperguy").removeClass("helperguy");
        $(".helperguySit").addClass("helperguyStand");
        $(".helperguySit").removeClass("helperguySit");
        $(".helperguyPoint").addClass("helperguyStand");
        $(".helperguyPoint").removeClass("helperguyPoint");
    }

    function helpStandDown() {
        $(".helperguyStand").addClass("helperguySit");
        $(".helperguyStand").removeClass("helperguyStand");
    }

    function helpPoint() {
        $(".helperguyStand").addClass("helperguyPoint");
        $(".helperguyStand").removeClass("helperguyStand");
    }

    function helpArrowUp() {
        $(".helperguyPoint").addClass("helperguyArrow");
        $(".helperguyPoint").removeClass("helperguyPoint");

        setTimeout(function () {
            $(".helperguyArrow").addClass("helperguyArrowDown");
            $(".helperguyArrow").removeClass("helperguyArrow");
            setTimeout(function () {
                $(".helperguyArrowDown").addClass("helperguyStand");
                $(".helperguyArrowDown").removeClass("helperguyArrowDown");
            }, 500);
        }, 2000);
    }

    function helpHover(id, time) {
        $(id).addClass("helpHover");
        setTimeout(function () {
            $(id).removeClass("helpHover");
        }, time);
    }

        </script>
        
        <div id="help-menu" class="sixteen columns" style="position: relative;">
            <div class="helperguy" onmouseover="showHelpMenu();" onmouseout=""></div>
            <div class="cursor"></div>
            <div class="floating-menu" onmouseover="helpPoint();" onmouseout="helpStandUp();">
                <div class="fancybox-close" style="cursor: pointer; font-weight: bold; font-size: 1.2em; text-align: right; float: right;margin-top:7px;margin-right:10px;display:none;" onclick="hideHelpMenu();"></div>
                <div id="helpTitle" style="font-size: 1.5em; margin-top:15px; text-align: center;display:none;">Help / Aide</div>
                <a href="#" style="margin-right:5px;" onclick="helpArrowUp(); animateFilter('english');">Filter</a><span style="display: none;">/</span><a href="#" style="margin-left:5px;" onclick="helpArrowUp(); animateFilter('french');">Filtrer</a>
                <a href="#" style="margin-right:5px;" onclick="helpArrowUp(); animateOrder('english');">Order</a><span style="display: none;">/</span><a href="#" style="margin-left: 5px;" onclick="helpArrowUp(); animateOrder('french');">Classer</a>
                <a href="#" style="margin-right:5px;" onclick="helpArrowUp(); animateSearch('english');">Search</a><span style="display: none;">/</span><a href="#" style="margin-left:5px;"  onclick="helpArrowUp(); animateSearch('french');">Trouver</a>
                <a href="#" style="margin-right:5px;" onclick="helpArrowUp(); doPlayerTutorial('english');">Listen</a><span style="display: none;">/</span><a href="#" style="margin-left:5px;" onclick="    helpArrowUp(); doPlayerTutorial('french');">Ecouter</a>
            </div>
            </div>
        <div id="pagination" class="sixteen columns" style="text-align:center;"></div>
        <div id="footer" style="position:relative;" class="sixteen columns">
            <div id="help"></div>
            admin@youdeliberate.org <i class="fa fa-envelope"></i> &nbsp;
        </div>
        <div id="admin-login"><a href="/Admin">Admin Login</a></div>
    </div>
</body>
</html>