﻿@model IEnumerable<YouDeliberate.Models.Entity.narrative>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/css")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/analytics")
    </head>
    <body>
        
        <div class="container">
            <div id="logo" class="sixteen columns">
                <img src="~/Images/logo.png" alt="YouDeliberate" style="float:right;" /></div>
            <div class="one-third column menu-top">
                <span style="float:left; margin: 5px 0 0 5px; color: #fff;">
                </span>
                <ul class="top menu" style="margin-left:5px;">
                </ul>
            </div>
            <div id="share-return" class="one-third column menu-top" style="text-align: center;">
                <a href="/Browse">Return to homepage / retour à l'accueil</a>
            </div>
            <div class="one-third column menu-top">
            </div>

            <div class="sixteen columns menu-top" style="background: #e1e1e1; position: relative; height: 585px;">
                @RenderBody()
            </div>
            <div id="pagination" class="sixteen columns" style="text-align:center;"></div>
            <div id="footer" style="position:relative;" class="sixteen columns">
                <div id="help"></div>
                admin@youdeliberate.org <i class="fa fa-envelope"></i> &nbsp;
            </div>
        </div>
    </body>
</html>