﻿@{
    ViewBag.Title = "Share";
    Layout = "~/Views/Share/_Layout.cshtml";
}
<div id="player-pop" style="height: 630px; width: 320px; overflow: hidden; margin: 0 auto;">
    <div id="popup-close" style="position:absolute; top: 0px;"></div>
    @RenderPage("~/Views/Shared/_Player.cshtml")

</div>
<script>
    changePlaylist(@ViewBag.id);
    populatePopup(@ViewBag.id)
</script>