﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/admin.css">

    @Scripts.Render("~/bundles/analytics")

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery.uploadfile.js"></script>

    <link rel="stylesheet" href="~/Content/jquery.uploadfile.css">
</head>
<body>
    <div class="container">
        <div class="sixteen columns" style="margin-top:20px;">
            <img src="~/Images/logo.png" alt="YouDeliberate" style="float:right;" />
        </div>
        <div class="sixteen columns menu-top">
            @if (@Session["admin"] != null)
            {
                <ul class="buttons">
                    <li style="margin-left: 5px;">Narrative: </li>
                    <li><a href="/Admin/Upload">Add</a></li>
                    <li><a href="/Admin/List">List</a></li>
                    <li><a href="/Admin/Comments">Comments</a></li>
                    <li style="margin-left: 5px;">Misc: </li>
                    <li><a href="/Admin/Metrics">Metrics</a></li>
                    <li><a href="/Admin/Config">Config</a></li>
                    
                    <li style="float:right"><a href="/Admin/Logout">Logout</a></li>
                    <li style="float:right">Welcome, @Session["admin"]!</li>
                </ul>
            }
        </div>
        <div class="successMessage" style="display: none; background-color: green;height:25px;color:green;"></div>
        <div class="errorMessage" style="display: none; background-color: red;height:25px;color:red;"></div>
        <div class="sixteen columns" style="margin: 50px 0 50px 0;">
            @RenderBody()
        </div>
        <div id="footer" class="sixteen columns"></div>
    </div>

    <script>
        function valid(flag, msg) {
            if (flag == true)
            {
                $(".successMessage").css({ "display": "block" });
                $(".errorMessage").css({ "display": "none" });
                $(".successMessage").html(msg);
                setTimeout(function () {
                    $(".successMessage").css({ "display": "none" });
                    $(".errorMessage").css({ "display": "none" });
                    $(".successMessage").html("");
                }, 3000);
            }
            else
            {
                $(".errorMessage").css({ "display": "block" });
                $(".successMessage").css({ "display": "none" });
                $(".errorMessage").html(msg);
                setTimeout(function () {
                    $(".errorMessage").css({ "display": "none" });
                    $(".successMessage").css({ "display": "none" });
                    $(".errorMessage").html("");
                }, 3500);
            }
            
        }
    </script>

</body>
</html>
