﻿@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="comments"></div>
<div class="loader" style="margin-top:10px;"></div>
<div class="pages" style="margin-top:10px;display:none;"></div>

    <script type="text/javascript">

    $(document).ready(function () {
        getNrComments();
        loadBar();
        pageOnClick(1);
    });

    function parseComments(c,start,end) {
        var s = "<table id='list'><tbody><tr><th>commentID</th><th>Date</th><th>Flag</th><th>Content</th><th>Delete</th></tr>";
        var inr = 1;
        for (var i = start ; i < end; i += 4) {
            if (typeof c[i + 2] != 'undefined')
            {
                if (inr % 2 == 0) {
                    s += "<tr id='comment-" + c[i + 2] + "'>";
                }
                else {
                    s += "<tr id='comment-" + c[i + 2] + "' class='alt'>";
                }
                s += "<th>" + c[i + 2] + "</th>"
                  + "<th>" + c[i + 3] + "</th>"
                  + "<th>False</th>"
                  + "<th>" + c[i + 1] + "</th>"
                  + "<th><a href='#' class='btnwide' onClick=\"delComment('" + c[i + 2] + "')\">Delete</a></th>"
                  + "</tr>";
            }
        }
        s += "</tbody></table>";
        $(".comments").html(s);
        pagesShow();
        loaderHide();
    }

    function delComment(id) {
        $.ajax({
            url: "/Admin/DelComment",
            type: "get",
            data: { id: id },
            success: function (response, textStatus, jqXHR) {
                valid(true, "Comment has been succesfully deleted!");
                var adminTr = "#comment-" + id;
                $(adminTr).remove();
                getNrComments();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function getNrComments() {
        $.ajax({
            url: "/Admin/GetNrComments",
            type: "get",
            success: function (response, textStatus, jqXHR) {
                pages(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function pages(nr)
    {
        var total = Math.ceil(nr / 25);
        var s = "<table id='list'><tbody><tr>";
        for(var i=1;i<total;i++)
        {
            s += "<th><a class='pageNr-"+i+"' style='color:white' href='#' onclick='pageOnClick("+i+");'>" + i + "</a></th>";
        }
        s += "</tr></tbody></table>"
        $(".pages").html(s);
    }

    function loadBar()
    {
        var s = "<table id='list' border='0' style='background-color:white;border:0;'><tbody><tr>"
             + "<th style='background-color:white;border:0;'><img src='../../Images/progress_bar.gif' /></th>"
             + "</tr></tbody></table>";
        $(".loader").html(s);
    }
    
    function loaderHide()
    {
        $(".loader").css({ display: "none" });
    }

    function pagesShow()
    {
        $(".comments").css({ display: "block" });
        $(".loader").css({ display: "none" });
        $(".pages").css({ display: "block" });
    }

    function pagesHide()
    {
        $(".comments").css({ display: "none" });
        $(".loader").css({ display: "block" });
        $(".pages").css({ display: "none" });
    }

    function pageOnClick(nr)
    {
        var classId = ".pageNr-" + nr;
        $(".pages a").css({ color: "#e1e1e1" });
        $(classId).css({ color: "#7e7e7e" });
        pagesHide();
        load((nr * 25),(nr * 25 + 25));
    }

    function load(start,end) {
        $.ajax({
            url: "/Admin/GetComments",
            type: "get",
            data: { start: start, end: end },
            success: function (response, textStatus, jqXHR) {
                if (response.length = (4 * 25))
                {
                    parseComments(response, 0, (4 * 25));
                } else {
                    parseComments(response, 0, response.length);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }
    </script>
