﻿@{
    ViewBag.Title = "Config";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@model IEnumerable<YouDeliberate.Models.Entity.administrator>
<div class="configMenu" style="top:0px;">
    <button id="adminTopic">Topics List</button>
    <button id="adminNewTopic">New Topic</button>
    <button id="addAdmin">Add Admin</button>
    <button id="modifyAdmin">Modify Admin</button>
    <button id="adminList">Admin List</button>
</div>
<input class="curAdmin" type="text" name="type" value="@Session["admin"]" style="display:none;" />

@using (Html.BeginForm("ChangeTopic", "Admin", FormMethod.Get))
{
    <div id="boxAdminTopic" class="box">
        <div class="topicList"></div>
    </div>
}

@using (Html.BeginForm("NewTopic", "Admin", FormMethod.Post, new { id = "newTop", enctype = "multipart/form-data" }))
{
    <input type="text" name="type" value="add" style="display:none; width: 0px;" />
    <div id="boxAdminNewTopic" class="box">
        <table id="list">
            <tbody>
                <tr>
                    <th style="vertical-align:middle"></th>
                    <th style="vertical-align:middle">
                        Add a new topic
                    </th>
                </tr>
                <tr class="alt">
                    <th style="vertical-align:middle">Topic *</th>
                    <th style="vertical-align:middle"><input type="text" id="topic" name="topic" style="margin-bottom:0px;" /></th>
                </tr>
                <tr>
                    <th style="vertical-align:middle">Subtopic</th>
                    <th style="vertical-align:middle"><input type="text" id="subtopic" name="subtopic" style="margin-bottom:0px;" /></th>
                </tr>
                <tr class="alt">
                    <th style="vertical-align:middle">Background Image*(png)</th>
                    <th style="vertical-align:middle"><input type='file' id="bgImg" name='bgImg' style="margin-bottom:0px;"></th>
                </tr>
                <tr class="alt">
                    <th style="vertical-align:middle">English Video*(mp4)</th>
                    <th style="vertical-align:middle"><input type='file' id="enVid" name='enVid' style="margin-bottom:0px;"></th>
                </tr>
                <tr class="alt">
                    <th style="vertical-align:middle">French Video*(mp4)</th>
                    <th style="vertical-align:middle"><input type='file' id="frVid" name='frVid' style="margin-bottom:0px;"></th>
                </tr>
                <tr>
                    <th style="vertical-align:middle"></th>
                    <th style="vertical-align:middle"><input type="submit" value="Add Topic" style="margin-bottom:0px;" /></th>
                </tr>
            </tbody>
        </table>
    </div>
}


@using (Html.BeginForm("Config", "Admin", FormMethod.Get))
{
    <div id="boxAddAdmin" class="box">
        <input type="text" name="type" value="add" style="display:none;" />
        <table id="list">
            <tbody>
                <tr>
                    <th></th>
                    <th>Add a new administrator</th>
            </tr>
            <tr class="alt">
                <th style="vertical-align:middle">Admin Username</th>
                <th style="vertical-align:middle"><input type="text" id="adminAddUser" name="adminUser" style="margin-bottom:0px;" /></th>
            </tr>
            <tr>
                <th style="vertical-align:middle">Admin Password</th>
                <th style="vertical-align:middle"><input type="password" id="adminAddPass" name="adminPass" style="margin-bottom:0px;" /></th>
            </tr>
            <tr class="alt">
                <th style="vertical-align:middle">Retype Password</th>
                <th style="vertical-align:middle"><input type="password" id="adminAddRepass" name="adminRePass" style="margin-bottom:0px;" /></th>
            </tr>
            <tr>
                <th style="vertical-align:middle">Email</th>
                <th style="vertical-align:middle"><input type="text" id="adminAddEmail" name="adminEmail" style="margin-bottom:0px;" /></th>
            </tr>
            <tr class="alt">
                <th style="vertical-align:middle"></th>
                <th style="vertical-align:middle"><a href='#' class='btnwide' onclick='validAddAdmin()'>Add Admin</a></th>
            </tr>
       </tbody>
</table>
 </div>
}



@using (Html.BeginForm("Config", "Admin"))
{
    <input type="text" name="type" value="mod" style="display: none; width: 0px;" />
    <div id="boxModAdmin" class="box">
        <table id="list">
            <tbody>
                <tr>
                    <th style="vertical-align:middle"></th>
                    <th style="vertical-align:middle">
                        Modify Administrator
                    </th>
                </tr>
                <tr class="alt">
                    <th style="vertical-align:middle">Admin Username</th>
                    <th style="vertical-align:middle"><input type="text" id="adminModUser" name="adminUser" readonly="readonly" style="margin-bottom:0px;" value="@Session["admin"]" /></th>
                </tr>
                <tr>
                    <th style="vertical-align:middle">Admin Password</th>
                    <th style="vertical-align:middle"><input type="password" id="adminModPass" name="adminPass" style="margin-bottom:0px;" /></th>
                </tr>
                <tr class="alt">
                    <th style="vertical-align:middle">Retype Password</th>
                    <th style="vertical-align:middle"><input type="password" id="adminModRepass"  name="adminRePass" style="margin-bottom:0px;" /></th>
                </tr>
                <tr>
                    <th style="vertical-align:middle">Email</th>
                    <th style="vertical-align:middle"><input type="text" id="adminModEmail"  name="adminEmail" style="margin-bottom:0px;" /></th>
                </tr>
                <tr class="alt">
                    <th style="vertical-align:middle"></th>
                    <th style="vertical-align:middle"><a href='#' class='btnwide' onclick='validModAdmin()'>Modify Admin</a></th>
                </tr>
            </tbody>
        </table>
    </div>
}

@using (Html.BeginForm("Config", "Admin"))
{
<div id="boxAdminList" class="box">
    <div class="adminList"></div>
</div>
}

<script>
    $(document).ready(function () {
        loadTopicList();
    });

    function validTopic()
    {
        var topic = $('#topic').val();
        var bgImg = $('#bgImg').val();
        var enVid = $('#enVid').val();
        var frVid = $('#frVid').val();
        if (isEmpty(topic) || isEmpty(subtopic) || isEmpty(bgImg) || isEmpty(enVid) || isEmpty(frVid))
        {
            valid(false, "Empty fields are not allowed!");
            return true;
        }
        if (!(validPic(bgImg))) {
            valid(false, "Background Picture is not png, jpg or gif!");
            return true;
        }

        if (!(validVid(enVid))) {
            valid(false, "English Video must be in the format .mp4");
            return true;
        }

        if (!(validVid(frVid))) {
            valid(false, "French Video must be in the format .mp4");
            return true;
        }
    }

    function validPic(fileName)
    {
        var validExtensions = ['png', 'jpg', 'gif']; //array of valid extensions
        var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
        if ($.inArray(fileNameExt, validExtensions) == -1) {
            return false;
        }
        else
        {
            return true;
        }
    }

    function validVid(fileName) {
        var validExtensions = ['mp4']; //array of valid extensions
        var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
        if ($.inArray(fileNameExt, validExtensions) == -1) {
            return false;
        }
        else {
            return true;
        }
    }

    $("#newTop").submit(function (event) {

        //disable the default form submission
        event.preventDefault();

        //grab all form data  
        var formData = new FormData($(this)[0]);

        if (validTopic())
        {
            return false;
        }

        $.ajax({
            url: '/Admin/NewTopic',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returndata) {
                valid(true, "New Topic has been added succesfully!");
                setTimeout(function () {
                    location.reload();
                }, 3000);
            }
        });

        return false;
    });

    function validModAdmin() {
        var user = $('#adminModUser').val();
        var pass = $('#adminModPass').val();
        var repass = $('#adminModRepass').val();
        var email = $('#adminModEmail').val();
        if (!(isEmpty(pass) && isEmpty(repass) && isEmpty(email))) {
            if (pass == repass) {
                modAdmin(user, pass, email);
            }
            else {
                valid(false, "Password and Retype Password Do not Match!");
            }

        }
        else {
            valid(false, "Empty fields are not allowed!");
        }
    }

    function validAddAdmin()
    {
        var user = $('#adminAddUser').val();
        var pass = $('#adminAddPass').val();
        var repass = $('#adminAddRepass').val();
        var email = $('#adminAddEmail').val();
        if (!(isEmpty(user) && isEmpty(pass) && isEmpty(repass) && isEmpty(email)))
        {
            if (pass == repass)
            {
                addAdmin(user, pass, email);
            }
            else
            {
                valid(false, "Password and Retype Password Do not Match!");
            }
            
        }
        else {
            valid(false, "Empty fields are not allowed!");
        }
    }

    function isEmpty(str) {
        return (!str || 0 === str.length);
    }

    function modAdmin(user, pass, email) {
        $.ajax({
            url: "/Admin/ModAdmin",
            type: "get",
            data: { user: user, pass: pass, email: email },
            success: function (response, textStatus, jqXHR) {
                valid(true, "Admin has been modified succesfully!");
                setTimeout(function () {
                    $('#adminModPass').val("");
                    $('#adminModRepass').val("");
                    $('#adminModEmail').val("");
                    loadAdminList();
                    $("#boxAddAdmin").hide();
                    $("#boxModAdmin").hide();
                    $("#boxAdminTopic").hide();
                    $("#boxAdminNewTopic").hide();
                    $("#boxAdminList").fadeIn(1500);
                }, 2000);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function addAdmin(user,pass,email) {
        $.ajax({
            url: "/Admin/AddAdmin",
            type: "get",
            data: { user: user,pass: pass, email: email },
            success: function (response, textStatus, jqXHR) {
                valid(true, "Admin has been added succesfully!");
                setTimeout(function () {
                    $('#adminAddUser').val("");
                    $('#adminAddPass').val("");
                    $('#adminAddRepass').val("");
                    $('#adminAddEmail').val("");
                    loadAdminList();
                    $("#boxAddAdmin").hide();
                    $("#boxModAdmin").hide();
                    $("#boxAdminTopic").hide();
                    $("#boxAdminNewTopic").hide();
                    $("#boxAdminList").fadeIn(1500);
                }, 2000);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function topicList(r)
    {
        var string = "<table id='list'><tbody><tr><th>topicID</th><th>Content</th><th>Sub Content</th><th>Online</th></tr>";
        var inr = 1;
        for(var i=0;i<(r.length);i+=4)
        {
            if (inr % 2 == 0)
            {
                string += "<tr>";
            }
            else
            {
                string += "<tr class='alt'>";
            }
            string += "<th>" + r[i] + "</th>"
               + "<th>" + r[i + 1] + "</th>"
               + "<th>" + r[i + 2] + "</th>";
            inr++;
            if (r[i + 3] == "True")
            {
                string += "<th><input type='radio' name='online' value='" + r[i] + "' onclick='changeTopic(" + r[i] + ");' checked='checked'/></th></tr>";
            }
            else
            {
                string += "<th><input type='radio' name='online' value='" + r[i] + "' onclick='changeTopic(" + r[i] + ");' /></th></tr>";
            }
        }
        string += "</tbody></table>";
        $(".topicList").html(string);
    }

    function changeTopic(id)
    {
        $.ajax({
            url: "/Admin/ChangeTopic",
            type: "get",
            data: { id: id },
            success: function (response, textStatus, jqXHR) {
                valid(true, "Topic Has Been Changed Succesfully!");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function adminList(r)
    {
        var string = "<input type='text' name='type' value='del' style='display: none; width: 0px;' />";
        string += "<table id='list'><tbody><tr><th>adminID</th><th>Username</th><th>Email</th><th>Delete</th></tr>";
        var curAdmin = $(".curAdmin").val();
        var inr = 1;
        for (var i = 0; i < (r.length) ; i += 3) {
            if (inr % 2 == 0) {
                string += "<tr id='admin-" + r[i] + "'>";
            }
            else {
                string += "<tr id='admin-" + r[i] + "' class='alt'>";
            }
            string += "<th>" + r[i] + "</th>"
               + "<th>" + r[i + 1] + "</th>"
               + "<th>" + r[i + 2] + "</th>";
            inr++;
            if (r[i + 1] != "admin") {
                if (curAdmin != r[i + 1])
                {
                    string += "<th><a href='#' class='btnwide' onClick=\"delAdmin('" + r[i] + "')\">Delete</a></th>";
                }
                else
                {
                    string += "<th></th>";
                }
            } else {
                string += "<th></th>";
            }
        }
        string += "</tbody></table>";
        $(".adminList").html(string);
    }

    function delAdmin(id)
    {
        $.ajax({
            url: "/Admin/DelAdmin",
            type: "get",
            data: { id: id},
            success: function (response, textStatus, jqXHR) {
                valid(true, "Admin has been succesfully deleted!");
                var adminTr = "#admin-" + id;
                $(adminTr).remove();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function loadTopicList() {
        $.ajax({
            url: "/Admin/GetTopicList",
            type: "get",
            success: function (response, textStatus, jqXHR) {
                topicList(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function loadAdminList() {
        $.ajax({
            url: "/Admin/GetAdminList",
            type: "get",
            success: function (response, textStatus, jqXHR) {
                adminList(response)
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    $(document).ready(function () {
        $("#boxAddAdmin").hide();
        $("#boxModAdmin").hide();
        $("#boxAdminTopic").show();
        $("#boxAdminNewTopic").hide();
        $("#boxAdminList").hide();
    });

    $("#addAdmin").click(function () {
        $("#boxAdminList").hide();
        $("#boxModAdmin").hide();
        $("#boxAdminTopic").hide();
        $("#boxAdminNewTopic").hide();
        $("#boxAddAdmin").fadeIn(1500);
    });

    $("#adminList").click(function () {
        loadAdminList();
        $("#boxAddAdmin").hide();
        $("#boxModAdmin").hide();
        $("#boxAdminTopic").hide();
        $("#boxAdminNewTopic").hide();
        $("#boxAdminList").fadeIn(1500);
    });

    $("#modifyAdmin").click(function () {
        $("#boxAddAdmin").hide();
        $("#boxAdminList").hide();
        $("#boxAdminTopic").hide();
        $("#boxAdminNewTopic").hide();
        $("#boxModAdmin").fadeIn(1500);
    });

    $("#adminTopic").click(function () {
        $("#boxAddAdmin").hide();
        $("#boxAdminList").hide();
        $("#boxModAdmin").hide();
        $("#boxAdminNewTopic").hide();
        $("#boxAdminTopic").fadeIn(1500);
    });

    $("#adminNewTopic").click(function () {
        $("#boxAddAdmin").hide();
        $("#boxAdminList").hide();
        $("#boxModAdmin").hide();
        $("#boxAdminTopic").hide();
        $("#boxAdminNewTopic").fadeIn(1500);
    });

</script>
