﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<script>
    $(function () {
        $("#UserName").focus();
    });
</script>


@using (Html.BeginForm("Login", "Admin"))
{
    <div class="RenderBody" align="center">
        <form action="POST">
            <p align="center"> Username: <input type="text" name="user" id="UserName" /></p>
            <p align="center"> Password: <input type="password" name="password" id="Password" /></p>
            <p align="center"><input type="submit" value="Login" /></p>
        </form>
    </div>
}
