﻿@{
    ViewBag.Title = "List";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@model IEnumerable<YouDeliberate.Models.Entity.narrative>

<div style="text-align: center;" id="admin_list_nav">Show: <a href="/Admin/List">All</a> - <a href="/Admin/List?f=flagged">Flagged</a> - <a href="/Admin/List?f=nc">Not Categorized</a></div>

<table class="list">
    <tbody>
        <tr>
            <th>ID</th>
            <th style="width:10px;">Published</th>
            <th><i class="fa fa-flag"></i></th>
            <th>Lang.</th>
            <th>Category</th>
            <th><i class="fa fa-smile-o"></i></th>
            <th><i class="fa fa-meh-o"></i></th>
            <th><i class="fa fa-frown-o"></i></th>
            <th><i class="fa fa-eye"></i></th>
            <th><i class="fa fa-comment"></i></th>
        </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr @(i % 2 == 0 ? "class=alt" : "") >
            <th><a onclick="populatePopup(@Model.ElementAt(i).narrativeID)" id="grid@(i)" class="fancybox" rel="group" href="#player-pop">@Model.ElementAt(i).narrativeID <i class="fa fa-play"></i></a></th>
            <th>
            @using (Html.BeginForm("SetViewable", "Admin", FormMethod.Post))
            {
                <input onchange='this.form.submit();' type="checkbox" name="form" @(Model.ElementAt(i).userViewable ? "checked" : "") />
                <input type="hidden" name="id" value="@Model.ElementAt(i).narrativeID" />
            }
            </th>
            <th>

            @if (Model.ElementAt(i).narrativeflags.Count > 0)
            {
                <a onclick="getFlags(@Model.ElementAt(i).narrativeID)" id="grid@(i)" class="fancybox" rel="group" href="#flags-pop">@Model.ElementAt(i).narrativeflags.Count </a>
            } else
            {
                <text>0</text>
            }
            </th>
            
            <th><img src="~/Images/lang/@(Model.ElementAt(i).languageID == 1 ? "en" : "fr").png" /> </th>
            <th @(Model.ElementAt(i).categoryID == 4 ? "class=warn" : "")>
                @using (Html.BeginForm("SetCategory", "Admin", FormMethod.Post))
                {
                    <select name="form" onchange="this.form.submit()">
                        <option value="1" @(Model.ElementAt(i).categoryID == 1 ? "selected" : "")>Agree</option>
                        <option value="3" @(Model.ElementAt(i).categoryID == 3 ? "selected" : "")>Ambivalent</option>
                        <option value="2" @(Model.ElementAt(i).categoryID == 2 ? "selected" : "")>Disagree</option>
                        <option value="4" @(Model.ElementAt(i).categoryID == 4 ? "selected" : "")>None</option>
                    </select>
                    <input type="hidden" name="id" value="@Model.ElementAt(i).narrativeID" />
                }
            </th>
            <th>@Model.ElementAt(i).numberAgrees</th>
            <th>@Model.ElementAt(i).numberAmbivalent</th>
            <th>@Model.ElementAt(i).numberDisagrees</th>
            <th>@Model.ElementAt(i).numberViews</th>
            <th>@Model.ElementAt(i).comments.Count</th>
        </tr>
    }
    </tbody>
</table>

<div id="player-pop" style="display: none; height: 600px; width: 320px; overflow:hidden;">
    <div id="popup-close" style="position:absolute; top: 0px;"></div>

    @RenderPage("~/Views/Shared/_Player.cshtml")

</div>

<div id="flags-pop" style="display: none; /*height: auto;*/ width: 320px;">
    <div id="popup-close" style="position:absolute; top: 0px;"></div>
        <div id="flags-header"></div>
        <table class="list" style="width:320px;">
            <tbody id ="flags-list" style="text-align: left;">
            </tbody>
        </table>
</div>

<script>
    function getFlags(id) {
        $.ajax({
            url: "/Admin/GetFlags",
            type: "get",
            data: { id: id },
            success: function (response, textStatus, jqXHR) {
                //console.log(response);
                parseFlags(response, id);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function parseFlags(c, id) {
        $("#flags-header").html("Flags for narrative: " + id);
        var s = "";
        var a = "";
        for (var i = 0; i < c.length; i++) {
            if (i % 2 == 0) {
                a = "<tr class='alt' ><th style='width:20px'>" + (i+1) + "</th><th>" + c[i] + "</th></tr>"
            } else {
                a = "<tr><th style='width:20px'>" + (i+1) + "</th><th>" + c[i] + "</th></tr>"
            }

            s += a;
        }
        $("#flags-list").html(s);
    }
</script>