﻿@{
    ViewBag.Title = "Metrics";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="sixteen columns" style="background: #7e7e7e; color: white; text-align: center; margin-bottom: 20px; ">
    <a href="https://www.google.com/analytics/web/?et=&authuser=#report/visitors-overview/a47536103w78815904p81501304/"> <font color="fbfbfb">Go to Google Analytics Dashboard</font></a>
</div>

<div class="eight columns metrics-grid">
    <div class="metrics-header">
        Overall Statistics
    </div>
    <div class="metrics-stat">
        Narrative views: @ViewData["views"] <br />
        Comments: @ViewData["comments"] <br />
        Flagged narratives: @ViewData["flagged"] <br />
    </div>
</div>

<div class="clear"></div>

<!--<a href="#" onclick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'TEST']);">Play</a>-->


<!--<button type="button" onclick="_gaq.push(['_trackEvent', 'Buttons', 'ClickMe', 'TEST']);">Click Me!</button>-->
<br />
@ViewBag.Done

<input type="button" value="Write to Excel" onclick="location.href='@Url.Action("WriteToCsv", "Admin")'" />
