﻿@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div id="upload-container" class="sixteen columns">
    <div id="upload">Choose a .zip file to upload...</div>
</div>

<script>
    $(document).ready(function () {
        var u = $("#upload").uploadFile({
            url: "/Admin/Upload",
            allowedTypes: "zip",
            multiple: false,
            maxFileCount: 1,
            autoSubmit: true,
            error: function (x, e) {
                $('.ajax-file-upload-filename').html("There was a problem uploading your file. Please try again.");
            },
            onSuccess: function (files, data, xhr) {
                    $('.ajax-file-upload-filename').html('Your file was uploaded successfully! Redirecting you in 3 seconds...');
                    setTimeout(function () {
                        window.location.href = "/Admin/List";
                    }, 3000);
               }
            });
    });
</script>

