﻿@{
    ViewBag.Title = "Index";
}
<html lang="en">

    <head>
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/Content/css")
        <title>@ViewBag.Title</title>
    </head>

<body>
    <div id="homeMainContent">

        <div class="topic"></div>
        <div class="topic-content" style="position:relative; height:450px"></div>
        <div class="sub-topic"></div>
        <a class="skipButton" href="@Url.Action("Index", "Browse")">Skip to Main Page</a>
    </div>
</body>

</html>

<script type="text/javascript">

    $(document).ready(function () {
        load();
    });

    function load()
    {
        $.ajax({
            url: "/Home/GetTopic",
            type: "get",
            success: function (response, textStatus, jqXHR) {
                includeBody(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("err");
            },
            // callback handler
            complete: function () {
            }
        });
    }

    function includeBody(r)
    {
        //r[0] - ("topic");
        //r[1] - ("subtopic");
        //r[2] - ("bg-pic");
        //r[3] - ("en-path");
        //r[4] - ("fr-path");

        var topicContent = "<h1>"+r[0]+"</h1>";
        var subContent = "<h3 style='position:absolute; margin-right: 30px; bottom: 30px; right: 20px'>" + r[1] + "</h3>";
        var bgPic = "url("+r[2]+")";

        $('#homeMainContent').css("background-image", bgPic);

        var enVideo = r[3];
        var frVideo = r[4];

        var videoLayout = "<img src='../Topics/Shared/VideoLayout.png' style='position:absolute; top:50%; left: 50%; margin-left: -555px; margin-top: -250px; width:1000px; height:450px' />"
                     + "<button id='englishBtn' onclick=\"selectEnglish('" + enVideo + "');\" style='position: absolute; top: 25%; left: 50%; margin-top: 25px; margin-left: 300px;'><img src='../../Images/lang/en.png'></button>"
                     + "<button id='frenchBtn' onclick=\"selectFrench('" + frVideo + "');\" style='position: absolute; top: 25%; left: 50%; margin-top: 25px; margin-left: 340px;'><img src='../../Images/lang/fr.png'></button>"
                     + "<video id='video' width='400' height='300'>"
                     + "<source src='" + enVideo + "' id='videoLang' type='video/mp4'>"
                     + "</video>"
                     + "<button id='playBtn' class='homePlayButton' onclick='playPause()'><img src='../Topics/Shared/ButtonPlay.png'></button>";

        $('.topic').html(topicContent);
        $('.sub-topic').html(subContent);
        $('.topic-content').html(videoLayout);
    }

    var vidPlayed = false;

    introVideo.onended = function () {
        vidPlayed = false;
        $("#playBtn").children().attr("src", "../../Topics/Shared/ButtonPlay.png");
    }

    function playPause(video) {
        var introVideo = document.getElementById('video');
        if (introVideo.paused){
            introVideo.play();
            $("#playBtn").children().attr("src", "../../Topics/Shared/ButtonPause.png");
            vidPlayed = true;
        }            
        else {
            introVideo.pause();
            $("#playBtn").children().attr("src", "../../Topics/Shared/ButtonPlay.png");
        }        
    }

    function selectEnglish(enPath) {
        $("#video").find("#videoLang").attr("src", enPath);
        $("#playBtn").children().attr("src", "../../Topics/Shared/ButtonPlay.png");
        $("#video").load();
    }

    function selectFrench(frPath) {
        $("#video").find("#videoLang").attr("src", frPath);
        $("#playBtn").children().attr("src", "../../Topics/Shared/ButtonPlay.png");
        $("#video").load();
    }

</script>

